---
import { translations } from "../../locales.js";
const lang = Astro.props?.lang ?? "es";
const t = translations[lang] ?? translations["es"];
const headerTitle = Astro.props.headerTitle ?? "";
const headerSubtitle = Astro.props.headerSubtitle ?? "";
const headerUrl = Astro.props.headerUrl ?? "";
const style = Astro.props.style ?? "";
const id = Astro.props.id ?? "";
---

<header id={id} class="relative bg-image-header h-96 xl:h-[36rem] lg:w-screen">
  <div class="absolute top-0 w-full h-full z-0">
    <img
      src={`/img/maquetado/${headerUrl}`}
      alt="Fondo del header del blog"
      class={`bg-header absolute z-0 w-full h-full object-cover ${style}`}
      loading="eager"
    />
    <div class="absolute w-full h-full bg-gradient-header z-1"></div>
  </div>
  <div class="absolute w-full h-full z-1 flex items-center justify-center">
    <h1 class="text-white text-center">
      <p class="text-5xl md:text-6xl font-bebas font-bold uppercase">
        {headerTitle}
      </p>
      <p class="text-3xl md:text-3xl">{headerSubtitle}</p>
    </h1>
  </div>
</header>
