---
import Flags from "./flags.astro";
import Image from "astro/components/Image.astro";
import roatanLogo from "../../assets/img/logo/Roatan-LogoSimple.png";
import { translations } from "../../locales.js";
import "../../assets/css/main.css";
import "../../assets/css/menu.css";
import fs from "fs";
import path from "path";
import matter from "gray-matter";

const lang = Astro.props?.lang ?? "es";
const t = translations[lang] ?? translations["es"];

const menuItems = Object.entries(t.menu).map(([key, label]) => ({
  path: key,
  label,
}));

function loadMarkdownFromDir(dirPath) {
  if (!fs.existsSync(dirPath)) return [];
  return fs.readdirSync(dirPath).map((filename) => {
    const filePath = path.join(dirPath, filename);
    const fileContent = fs.readFileSync(filePath, "utf-8");
    const { data } = matter(fileContent);
    return {
      ...data,
      title: data.title || filename.replace(".md", ""),
      slug: data.slug || filename.replace(".md", ""),
      tags: data.tags || [],
      category: dirPath.includes("posts")
        ? "blog"
        : dirPath.includes("ports")
          ? "port-experience"
          : "discover-beyond",
    };
  });
}

const baseDir = path.resolve(`./src`);
const content = [
  ...loadMarkdownFromDir(`${baseDir}/posts/${lang}`),
  ...loadMarkdownFromDir(`${baseDir}/ports/${lang}`),
];
---

<div
  id="menu_overlay"
  class="fixed grid grid-cols-8 grid-rows-7 top-0 left-0 w-screen h-screen z-20 bg-black hidden"
>
  <div class="div1"></div>
  <div class="div2"></div>
  <div class="div3"></div>
  <div class="div4"></div>
  <div class="div5">
    <div
      id="menu_movil_overlay"
      class="text-center justify-center p-6 items-center z-30 bg-[var(--primary-color)] h-full"
    >
      <nav class="text-white flex flex-col items-center justify-center gap-6">
        <a
          id="logo_menu"
          class="w-28 h-auto"
          href={lang === "es" ? "/es/home" : "/en/home"}
        >
          <Image
            class="w-full h-auto"
            src={roatanLogo}
            alt="logo"
            loading="eager"
          />
        </a>
        {
          menuItems.map((item) => (
            <a
              class="text-center font-bebas text-4xl z-30"
              href={`/${lang}/${item.path}/`}
            >
              {item.label}
            </a>
          ))
        }
        <div
          class="flex flex-row items-center social_media_container gap-4 xl:gap-4 mx-3 xl:mx-5 pt-1"
        >
          <a href="https://www.facebook.com/PortRoatan" target="_blank"
            ><div class="icon-mask icon-mask-face"></div></a
          >
          <a href="https://www.instagram.com/portroatan" target="_blank"
            ><div class="icon-mask icon-mask-ig"></div></a
          >
          <a
            href="https://www.tripadvisor.com.mx/Attraction_Review-g292019-d25290415-Reviews-Roatan_Cruise_Port-Roatan_Bay_Islands.html"
            target="_blank"><div class="icon-mask icon-mask-trip"></div></a
          >
        </div>
        <Flags lang={lang} mobile={true} />
      </nav>
    </div>
  </div>
</div>
<style>
  #menu_overlay {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1 {
    grid-area: 1 / 1 / 5 / 3;
    background-color: red;
  }
  .div2 {
    grid-area: 5 / 1 / 8 / 3;
    background-color: black;
  }
  .div3 {
    grid-area: 1 / 3 / 5 / 5;
    background-color: blue;
  }
  .div4 {
    grid-area: 5 / 3 / 8 / 5;
    background-color: green;
  }
  .div5 {
    grid-area: 1 / 5 / 8 / 9;
  }
</style>
