---
import Layout from "../layouts/Layout.astro";
import { translations } from "../locales.js";
import Menu from "../components/Header/Menu.astro";
import error404 from "../assets/img/iconos/error404.png";
import roatanLogo from "../assets/img/logo/Roatan-LogoBlanco.png";
import { Image } from "astro:assets";
import Footer from "../components/Footer/Footer.astro";
export function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}
const lang = Astro.params.lang || "en";
const t = translations[lang];

---

<Layout lang={lang}>
  <div class="bg-image-header-404 md:w-screen h-96 md:h-screen">
    <div class="bg-gradient-header-404 md:w-screen h-96 md:h-screen">
      <Menu />

      <Image
        class="left-4 md:left-24 absolute top-10 md:top-10 w-24 h-auto xl:w-36 "
        src={roatanLogo}
        alt="logo"
        loading="eager"
      />
      
      <div class="title-container-404 flex flex-col text-center justify-center items-center gap-3 h-5/6">
        <Image
        class=" w-36 h-auto xl:w-64 "
        src={error404}
        alt="logo"
        loading="eager"
      />
        <h1 class="text-white text-lg xl:text-2xl ">{t.notFound.notFound || "Ups! parece que te has perdido"}</h1>
        <a class="rounded uppercase font-latoBold text-[#003a5d] p-2 bg-white" href={`/${lang}/home`}
          >{t.notFound.back || "Ups! parece que te has perdido"}</a>
      </div>
    </div>
  </div>
  <Footer lang={lang}/>
</Layout>
