---
import { translations } from "../../locales.js";
const lang = Astro.props?.lang ?? "es";
const t = translations[lang] ?? translations["es"];
import { Image } from "astro:assets";
import "aos/dist/aos.css";
import olas from "../../assets/img/iconos/home/olas-white.png";
import "../../assets/css/home.css";

import SwiperClient from "../../components/js/SwiperClientDiscover";
---

<div
  class="discover-container items-center w-screen h-auto md:h-[34rem] flex flex-col md:flex-row lg:items-start justify-center relative overflow-hidden bg-[var(--primary-color)]"
>
  <div
    class="swiper-container w-full h-[350px] md:w-1/2 text-center flex flex-col"
  >
    <SwiperClient client:only="react" />
  </div>
  <div
    class="text-container h-auto w-full md:w-1/2 text-center flex flex-col py-5 lg:py-20 gap-3 lg:gap-8"
  >
    <h2
      class="capitalize text-4xl md:text-7xl flex flex-col mx-auto max-w-[90%] font-alverata text-white"
      set:html={t.homeDiscover.title}
    />
    <div class="w-16 self-center border-b-2 border-white"></div>
    <p class="text-2xl px-5 mx-4 text-white">
      {t.homeDiscover.subtitle}
    </p>
    <a
      href={`/${lang}/discover-beyond/`}
      class="text-white font-bold md:text-2xl border-2 border-white self-center p-2 rounded-lg w-fit uppercase text-base font hover:bg-white hover:border-white hover:text-[var(--darkblue-color)]"
      >{t.homeDiscover.button}</a
    >
    <div class="w-full h-16 lg:h-24 relative">
      <Image
        class="w-[100%] h-[100%] object-fill"
        src={olas}
        alt="olas blancas"
        loading="eager"
      />
      <div class="wave-cover-discover"></div>
    </div>
  </div>
</div>
