---
import { translations } from "../../locales.js";
const lang = Astro.props?.lang ?? "es";
const t = translations[lang] ?? translations["es"];
import PreguntasYRespuestas from "../../components/js/Faqs.jsx";
---

<div class="faqs h-[34rem] md:h-auto relative bg-[var(--redSocial-color)]">
  <div
    class="space-container w-screen md:h-[20rem] bg-[var(--redSocial-color)]"
  >
  </div>
  <div
    class="faqs-container md:absolute mt-8 md:mt-0 top-0 lg:-top-0 xl:top-0 w-screen h-auto md:h-[40rem] lg:h-[48rem] flex flex-col items-center justify-center overflow-y-hidden overflow-x-hidden bg-[transparent] z-10"
  >
    <div class="title-container justify-center items-center flex flex-col z-15">
      <h2
        class="title text-5xl md:text-8xl font-bebas text-[var(--primary-color)]"
      >
        {t.homeFaqs.title}
      </h2>
      <p
        class="subtitle text-3xl md:text-4xl font-bebas uppercase text-[var(--secondary-color)] mb-4 md:mb-12"
      >
        {t.homeFaqs.subtitle}
      </p>
      <span class="hidden md:block w-[2px] h-[20rem] xl:h-[20rem] bg-[var(--primary-color)]"
      ></span>
      <PreguntasYRespuestas client:only="react" t={t} />
      <a
        href={`/${lang}/port-experience/`}
        class="text-[var(--primary-color)] border-2 border-[var(--primary-color)] self-center py-2 px-6 rounded-lg w-fit uppercase text-base font hover:bg-white hover:border-white"
        >{t.homePort.button}</a
      >
    </div>
  </div>
</div>
<script>
  function toggleRespuesta(idRespuesta) {
    const respuestas = document.querySelectorAll(".respuesta");
    const preguntas = document.querySelectorAll(".pregunta");

    respuestas.forEach((respuesta) => {
      if (respuesta.id === idRespuesta) {
        
        const isHidden = respuesta.classList.contains("hidden");
        respuestas.forEach(r => r.classList.add("hidden")); // Oculta todas las respuestas
        preguntas.forEach(p => {
          p.querySelector(".mas-icon")?.classList.remove("hidden");
          p.querySelector(".menos-icon")?.classList.add("hidden");
        });

        if (isHidden) {
          respuesta.classList.remove("hidden");
          
          const preguntaId = "pregunta" + idRespuesta.replace("respuesta", "");
          const pregunta = document.getElementById(preguntaId);
          if (pregunta) {
            pregunta.querySelector(".mas-icon")?.classList.add("hidden");
            pregunta.querySelector(".menos-icon")?.classList.remove("hidden");
          }
        }
      } else {
        respuesta.classList.add("hidden"); 
      }
    });
  }

  // Oculta todas las respuestas al inicio
  window.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".respuesta").forEach(r => r.classList.add("hidden"));
  });
</script>
