---
import { translations } from "../../locales.js";
const lang = Astro.props?.lang ?? "es";
const t = translations[lang] ?? translations["es"];
import { Image } from "astro:assets";
import "aos/dist/aos.css";
import olas from "../../assets/img/iconos/port-experience/ola.png";
import ave from "../../assets/img/iconos/port-experience/ave.png";
import chica from "../../assets/img/iconos/port-experience/chica.png";
import WaveObserver from "../../components/js/WaveObserver.jsx";
import WaveObserverPort from "../../components/js/WaveObserverPort.jsx";
import "../../assets/css/home.css";
---

<div
  class="welcome-container w-screen h-[16rem] md:h-[32rem] flex  justify-left md:justify-center pl-5 md:pl-auto relative overflow-hidden bg-white"
>
  
  <div class="images-container absolute h-full w-screen flex flex-row">
    <Image
      class="hidden md:block chica absolute w-32 md:w-60 lg:w-72 h-auto bottom-5 z-0"
      src={chica}
      alt="logo"
      loading="eager"
    />
    <Image
      class="ave absolute w-28 md:w-60 lg:w-64 h-auto right-0 bottom-5 z-0"
      src={ave}
      alt="logo"
      loading="eager"
    />
  </div>
  <div
    class="text-container w-3/4 mt-12 md:mt-24 lg:w-2/3   flex flex-col"
  >
    <p
      class="text-2xl self-start md:self-center md:text-6xl font-bebas text-[var(--secondary-color)]"
    >
      {t.port.title}
    </p>
    <div
      class="w-12 md:w-16 self-center border-b-2 md:border-b-4 border-[var(--primary-color)] my-2"
    >
    </div>
    <p
      class="text-[8px] text-justify md:text-center self-start md:self-center md:text-xl text-black md:w-2/3"
    >
      {t.homeWelcome.text}
    </p>
  </div>
  <div
    class="wave-container w-full h-[24%] bottom-5 right-0 bg-white absolute z-1 overflow-hidden"
  >
    <Image
      class="wave absolute w-[100%] h-[100%] right-0 top-0 object-fill"
      src={olas}
      alt="logo"
      loading="eager"
    />
    <div class="wave-cover"></div>
  </div>
  <WaveObserver client:visible />
</div>
