---
import { translations } from "../../locales.js";
const lang = Astro.props?.lang ?? "es";
const t = translations[lang] ?? translations["es"];
import { Image } from "astro:assets";
import "aos/dist/aos.css";
import olas from "../../assets/img/iconos/port-experience/ola.png";
import ave from "../../assets/img/iconos/port-experience/ave.png";
import chica from "../../assets/img/iconos/port-experience/chica.png";
import WaveObserver from "../../components/js/WaveObserver.jsx";
import "../../assets/css/home.css";
---

<div 
  id="portExperience"
  class="welcome-container w-screen h-auto md:h-[32rem] flex flex-col md:flex-row justify-center relative overflow-hidden bg-white z-0"
>
  
  <div class="images-container absolute h-full w-screen flex flex-row">
    <Image
      class="hidden md:block chica absolute w-32 md:w-60 lg:w-72 h-auto bottom-5 md:bottom-7 z-0"
      src={chica}
      alt="logo"
      loading="eager"
    />
    <Image
      class="hidden md:block ave absolute w-20 md:w-60 lg:w-64 h-auto right-0 bottom-10 z-0"
      src={ave}
      alt="logo"
      loading="eager"
    />
  </div>
  <div
    class="text-container w-full px-5 md:px-0 mx-auto md:mx-0 text-center mt-20 mb-5 md:mt-5 md:mb-0 lg:w-2/3 md:pt-5  flex flex-col "
  >
    <p
      class="text-5xl md:text-7xl self-center lg:mt-10 font-bebas text-[var(--secondary-color)]"
    >
      {t.port.title}
    </p>
    <div
      class="w-12 md:w-16 self-center border-b-2 md:border-b-4 border-[var(--primary-color)] my-2"
    >
    </div>
    <p
      class="text-2xl text-center self-start md:self-center  text-black md:w-2/3"
    >
      {t.homeWelcome.text}
    </p>
  </div>
  <div
    class="wave-container w-full h-[24%] bottom-5 right-0 bg-transparent md:absolute z-1 overflow-hidden"
  >
    <Image
      class="wave w-[100%] h-[100%] right-0 top-0 object-fill"
      src={olas}
      alt="logo"
      loading="eager"
    />
    <div class="wave-cover"></div>
  </div>
  <WaveObserver client:visible />
</div>
