---
import fs from "fs";
import path from "path";
import matter from "gray-matter";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Headers/HeaderBlog.astro";
import Footer from "../../components/Footer/Footer.astro";
import Menu from "../../components/Headers/Menu.astro";
import "../../assets/css/blog.css";
import { Image } from "astro:assets";
import { translations } from "../../locales.js";
const lang = Astro.params.lang || "es";
const t = translations[lang] ?? translations["es"];
// Lee los archivos de posts
const postsDir = path.resolve(`./src/posts/${lang}`);
const files = fs.readdirSync(postsDir);

const posts = files.map((filename) => {
  const filePath = path.join(postsDir, filename);
  const fileContent = fs.readFileSync(filePath, "utf-8");
  const { data } = matter(fileContent);

  return {
    ...data,
    title: data.title || filename.replace(".md", ""),
    subtitle: data.subtitle || filename.replace(".md", ""),
    date: data.date || filename.replace(".md", ""),
    slug: data.slug || filename.replace(".md", ""),
    class: data.class || filename.replace(".md", ""),
    excerpt: data.excerpt || "",
    image: data.image?.url || "",
    alt: data.image?.alt || "",
  };
});
export function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}
---

<Layout lang={lang}>
  <Menu lang={lang} />
  <Header lang={lang} />

  <div
    class="Blog-container bg-[var(--redSocial-color)] w-screen flex flex-col items-center justify-center"
  >
    <div class="articles-container w-full p-8 md:w-4/5 md:-0 ">
      <div class="flex md:flex-row flex-col md:justify-between mb-8">
        <p class="text-xl md:text-4xl text-[var(--darkblue-color)] ">
        {t.blog.subtitle}
      </p>
      </div>
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-8">
        {
          posts.map((post, index) => (
            <li
              class={`Blog-item  ${index === 0 ? "md:col-span-2 " : ""}  col-span-2 md:col-span-1 bg-white shadow-md rounded-xl `}
            >
              <a
                href={`/${lang}/blog/${post.slug}`}
                class={`flex flex-col ${index === 0 ? "md:flex-row " : ""}  h-full `}
              >
                <div class={`${index === 0 ? "basis-1/2 mdpr-4 " : ""} `}>
                  <img
                    src={post.image}
                    alt={post.alt}
                    class={`w-full h-full object-cover rounded-t-xl ${index === 0 ? "md:rounded-t-none md:rounded-tl-xl md:rounded-bl-xl  " : ""} `}
                  />
                </div>
                <div
                  class={`${index === 0 ? "basis-1/2" : ""} p-5 flex flex-col gap-4`}
                >
                  <p class="text-left font-latoBold text-[var(--primary-color)] text-xl md:text-4xl uppercase">
                    {post.title}
                  </p>
                  <p class="text-justify font-latoBold text-[var(--secondary-color)] text-lg md:text-2xl uppercase">
                    {post.date}
                  </p>
                  <p class="text-justify" set:html={post.excerpt} />
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <Footer lang={lang} />
</Layout>
