---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Headers/HeaderBlog.astro";
import Footer from "../../components/Footer/Footer.astro";
import Menu from "../../components/Headers/Menu.astro";
import Bienvenida from "../../components/port-experience/Bienvenida.astro";
import { Image } from "astro:assets";
import iconayb from "../../assets/img/iconos/port-experience/iconayb.svg";
import flecha from "../../assets/img/iconos/port-experience/flecha-white.svg";
import WaveObserver from "../../components/js/WaveObserver.jsx";
import "../../assets/css/port-experience.css";

const lang = Astro.params.lang || "es";

import fs from "fs";
import path from "path";
import matter from "gray-matter";
import { translations } from "../../locales.js";
const t = translations[lang] ?? translations["es"];
const postsDir = path.resolve(`./src/ports/${lang}`);
const files = fs.readdirSync(postsDir);

const posts = files.map((filename) => {
  const filePath = path.join(postsDir, filename);
  const fileContent = fs.readFileSync(filePath, "utf-8");
  const { data } = matter(fileContent);

  return {
    ...data,
    title: data.title || filename.replace(".md", ""),
    subtitle: data.subtitle || filename.replace(".md", ""),
    date: data.date || filename.replace(".md", ""),
    slug: data.slug || filename.replace(".md", ""),
    class: data.class || filename.replace(".md", ""),
    excerpt: data.excerpt || "",
    image: data.image?.url || "",
    alt: data.image?.alt || "",
  };
});
export function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}
---

<Layout id="portExperience" lang={lang}>
  <Menu lang={lang} />
  <Header
    lang={lang}
    headerTitle="Port Experience"
    headerUrl="header-port.webp"
    id="headerPort-container"
  />
  <Bienvenida lang={lang} />
  <WaveObserver client:visible />
  <div
    class="experience-container bg-white md:w-4/5 md:mx-auto flex flex-col gap-12 md:gap-0 md:grid md:grid-cols-3 z-20"
  >
    {
      posts.map((post) => (
        <div class="port-experience-card grid-col md:mb-12 flex justify-center">
          <div
            class="rounded-t-full self-center col-span-1 rounded-b-full h-[24rem] w-[18rem] bg-center bg-cover bg-no-repeat z-20 relative group overflow-hidden"
            style={`background-image: url('${post.image}')`}
          >
            <Image
              class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-20 z-20 md:group-hover:-translate-y-16 transition-all duration-300"
              src={iconayb}
              alt="icono ayb"
              loading="eager"
            />

            <div class="text-container rounded-t-full rounded-b-full h-full w-full z-10 bg-gradient-item flex flex-col justify-center text-center md:translate-y-48 pt-56 md:group-hover:-translate-y-0 transition-all duration-300">
              <p class="text-4xl text-white font-bold mb-4 capitalize" set:html={post.title}>
              </p>
              <Image
                class="self-center mb-4 w-12"
                src={flecha}
                alt="icono flecha"
                loading="eager"
              />
            </div>
          </div>
        </div>
      ))
    }
  </div>

  <Footer lang={lang} videoFile="fondo-footer-blanco.mp4" />
</Layout>
