---
import fs from "fs";
import path from "path";
import matter from "gray-matter";
import Layout from "../../../layouts/Layout.astro";
import Footer from "../../../components/Footer/Footer.astro";
import Menu from "../../../components/Headers/MenuBlog.astro";
import "../../../assets/css/blog.css";
import type { APIContext } from "astro";

//@ts-ignore
const { lang, slug } = Astro.params;

const filePath = path.resolve(`./src/ports/${lang}/${slug}.md`);
const fileContent = fs.readFileSync(filePath, "utf-8");
const { data, content } = matter(fileContent);

export async function getStaticPaths(): Promise<APIContext["params"][]> {
  const fs = await import("fs");
  const path = await import("path");

  const langs = ["es", "en"];
  const paths: APIContext["params"][] = [];

  for (const lang of langs) {
    const dir = path.resolve(`./src/ports/${lang}`);
    const files = fs.readdirSync(dir);

    for (const filename of files) {
      const slug = filename.replace(".md", "");

      paths.push({
        //@ts-ignore
        params: { lang, slug },
      });
    }
  }

  return paths;
}
---

<Layout lang={lang}>
  <Menu lang={lang} />

  <div class="w-screen py-8 justify-center flex">
    <div class="w-4/5">
      <div class="px-4">
        <div class="flex flex-wrap gap-4 justify-center px-4">
          {
            data.gridgallery?.map((img, index) => {
              let sizeClass = "";
              let objectPositionClass = "";

              switch (img.size) {
                case "sm":
                  sizeClass = "w-[140px] h-[140px] sm:w-[180px] sm:h-[180px]";
                  break;
                case "md":
                  sizeClass =
                    "w-full h-[240px] md:w-[31.5%] md:h-[17rem] xl:h-[24rem]";
                  break;
                case "lg":
                  sizeClass =
                    "w-full h-[240px] md:w-[48%] md:h-[16rem] xl:h-[24rem]";
                  objectPositionClass = "object-center";
                  break;
                case "xl":
                  sizeClass =
                    "w-full h-[360px] md:w-[48%] md:h-[32rem] xl:h-[48rem]";
                  break;
                default:
                  sizeClass = "w-[220px] h-[180px]";
              }

              return (
                <div
                  class={`overflow-hidden rounded-2xl flex-shrink-0 ${sizeClass}`}
                >
                  <img
                    src={img.url}
                    alt={img.alt ?? `Imagen ${index + 1}`}
                    loading="lazy"
                    class={`w-full h-full object-cover transition-transform duration-300 hover:scale-105 ${objectPositionClass}`}
                  />
                </div>
              );
            })
          }
        </div>
      </div>
    </div>
  </div>
  <Footer lang={lang} videoFile="fondo-footer-blanco.mp4" />
  <style>
    .swiper-pagination {
      bottom: 0px !important;
      position: absolute !important;
      text-align: center;
      width: 100%;
      z-index: 10;
    }
  </style>
</Layout>
